@font-face {
	font-family: "regular";
	src: url("./assets/regular.woff2") format("woff2");
}

@font-face {
	font-family: "bold";
	src: url("./assets/bold.woff2") format("woff2");
}

@font-face {
	font-family: "light";
	src: url("./assets/light.woff2") format("woff2");
}
